<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>

          <!-- Excluir por padrão de nome (assembly/type filter) -->
          <Exclude>[pBiblioteca]pBiblioteca.Models.*,[pBiblioteca]pBiblioteca.DTO.*</Exclude>
          <ModulePath>.*Microsoft.AspNetCore.OpenApi.*</ModulePath>

            <ExcludeByFile>
            **/Models/**/*.cs,
            **/DTO/**/*.cs,
            **/Repositories/**/*.cs,
            **/Program.cs,
            **/obj/**,
            **/bin/**
            </ExcludeByFile>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>