<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>

          <!-- ✅ Só conta cobertura do assembly principal -->
          <Include>[pBiblioteca]*</Include>

          <!-- ✅ E dentro dele, só Services e Controllers -->
          <Include>[pBiblioteca]pBiblioteca.Services.*,[pBiblioteca]pBiblioteca.Controllers.*</Include>

          <!-- 🚫 Exclui o resto -->
          <Exclude>
            [pBiblioteca]pBiblioteca.Repositories.*,
            [pBiblioteca]pBiblioteca.Models.*,
            [pBiblioteca]pBiblioteca.DTO.*,
            [pBiblioteca]Microsoft.AspNetCore.OpenApi.Generated*,
            [pBiblioteca]Program,
            [pBiblioteca]pBiblioteca.WeatherForecast,
            [pBiblioteca]pBiblioteca.ReservationExpirationHostedService
          </Exclude>

          <Format>cobertura</Format>
          <SingleHit>false</SingleHit>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>