<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>

          <!-- Excluir arquivos/pastas que não fazem sentido testar unitariamente -->
          <ExcludeByFile>
            **/Program.cs
            **/*Context.cs
            **/Models/PostgresContext.cs
            **/obj/**
            **/bin/**
            **/*generated.cs
            **/Migrations/**
            **/WeatherForecast.cs
          </ExcludeByFile>

          <Exclude>
            [pBiblioteca]*.Repositories.*
            [pBiblioteca]*.Models.*
          </Exclude>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
